<h5 class="my-3"><%= t('comments.all_comments') %></h5>
<% resource.comments.includes(:user).each do |c| %>
  <div class="card mb-4" style="width: 40rem;">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-8"><%= c.user.first_name %></div>
        <div class="col-sm-4" style="padding-left: 30px;padding-right: 0px;">
          <%= c.created_at.strftime("%Y.%m.%d %H:%M") %> MSK
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text"><%= c.body %></p>
      <!--      <a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
  </div>
<% end %>
