<h6 class="my-5"><%= t('comments.Ñomments') %></h6>

<%= simple_form_for [resource, Comment.new] do |f| %>
  <%= f.input :body %>
  <%= f.button :submit, t('buttons.create'), class: "btn btn-outline-primary mt-3" %>
<% end %>
