<% if notice %>
  <div class="py-2"></div>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= notice.html_safe %>
    <button class="btn-close" aria-label="Close" data-bs-dismiss="alert" type="button"></button>
  </div>
<% end %>
<% if alert %>
  <div class="py-2"></div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= alert.html_safe %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>