<div class="row">
	<div class="col-sm-12">
		<nav aria-label="breadcrumb" class="mt-4">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><%= link_to 'Главная', root_path %></li>
				<li class="breadcrumb-item active" aria-current="page"><%= link_to "#{@course.name}", promo_course_path(@course) %></li>
				<li class="breadcrumb-item active" aria-current="page">Lessons</li>
			</ol>
			</ol>
		</nav>
	</div>
</div>


<div class="row">
	<div class="col-10">
		<%= @lesson.content %>
	</div>
	<div class="col-2">
		<H5>Cписок лекций</H5>
		<% @course.lessons.each do |lesson| %>
			<div class="list-group">
				<% css_class = current_page?(course_lesson_path(@course, lesson)) ? "active" : "" %>
				<%= link_to "Лекция #{lesson.id}", course_lesson_path(@course, lesson), class: "list-group-item list-group-item-action my-1 #{css_class}" %>
			</div>
		<% end %>
	</div>
</div>


