<h1 class="text-center">Платформа для онлайн курсов</h1>
<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <% @courses.each do |course| %>
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-4">
                                    <%= course.name %>
                                </h5>
                                <h6 class="card-title mb-4">Описание: <%= course.description %>
                                </h6>
                                <p class="card-text">
                                    <%= link_to 'Подробнее' , course_path(course.id), class: 'btn btn-info' %>
                                </p>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div>&copy; @andrey <%= Time.now.year %></div>