<h1>Промо ролик курса: <%= @course.name %></h1>
<iframe width="800" height="600" src="https://www.youtube.com/embed/1D_HUuWCamw?list=PLWlFXymvoaJ_IY53-NQKwLCkR-KkZ_44-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>