<h3>HI</h3>
<h5>Поздравляем вы сдали экзамен! Ваши результаты: </h5>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Passage time: <%= @examination.passage_time/60 %> </li>
    <li class="list-group-item">Correct answers: <%= @examination.correct_answers %></li>
    <li class="list-group-item">Percentage passing: <%= @examination.percentage_passing %></li>
  </ul>
</div>
<div class="mt-3">
  <%= link_to "Закончить", promo_course_path(@examination.exam.course), class: 'btn btn-outline-primary' %>
</div>

